.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 9px 16px;
    min-width: 110px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    + .wrapper {
        margin-left: 16px;
        // 2 btn cạnh nhau 20Đ
    }
    &.disable {
        opacity: 0.5;
        pointer-events: none;
    }
}
.icon + .title {
    margin-left: 8px;
}
.title + .icon {
    margin-left: 8px;
}
.icon {
    display: inline-block;
    width: 24px;
    text-align: left;
}

//Button Style
.primary {
    background-color: var(--primary-color);
    color: white;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.text {
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.rounded {
    border-radius: 999px;
    font-size: 1.4rem;
    min-width: 90px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    padding: 0 8px;
    height: 32px;
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
// Button Size mặc định k gọi size là medium.
.small {
    min-width: 88px;
    padding: 0 10px;
    min-height: 28px;
    line-height: 22px;
}
.large {
    min-width: 168px;
    min-height: 48px;
    color: var(--primary-color);
    padding: 6px 8px;
}
