@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');
:root {
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --primary-color: rgba(254, 44, 85, 1);
    --black: #000;
    --text-color: rgba(22, 24, 35, 1);
    --text-fade: rgba(22, 24, 35, 0.5);
    --default-layout-horizontal-space: 24px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%; //để dung các thẻ con 1.3rem , 1.4rem, 1.6 rem
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed; // tối ưu tốc độ hiện thị font
}
input,
button,
[tabindex] {
    border: none;
    outline: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
//custom tippy
body {
    .tippy-box {
        font-size: 1.4rem;
        line-height: 2.2rem;
        border-radius: 8px;
        font-weight: 600;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-content {
        padding: 8px 9px;
    }
}
