.content {
    width: 223px;
    .menu-item {
        margin: 0;
        width: 100%;
        justify-content: flex-start;
        border-radius: 0;
        font-weight: 600;
        line-height: 1.8rem;
        color: var(--text-color);
        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.1);
        }
    }
}

.menu-prop {
    padding-bottom: 8px;
}
//header
.header {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    height: 100%;
    cursor: pointer;
    width: 50px;
    background-color: transparent;
}
.header-icon {
    font-size: 1.8rem;
}
.header-title {
    font-size: 1.6rem;
    margin-left: 20px;
}
