.wrapper {
    display: flex;
    padding: 9px 16px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}
.info {
    flex: 1;
    font-size: 1.6rem;
}
.name {
    color: var(--text-color);
    font-weight: 600;
    white-space: nowrap;

    .name-lable {
        margin-right: 7px;
        line-height: 22px;
    }
    .name-icon {
        color: rgb(32, 213, 236);
    }
}
.username {
    color: var(--text-fade);
    font-weight: 400;
    line-height: 20px;
    font-size: 1.4rem;
}
