.wrapper {
    --search-border-radius: 42px;
    --search-height: 46px;
    --search-top-space: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    background-color: white;
}
.inner {
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-space);
}
.logo {
    display: flex;
}

.action {
    display: flex;
    align-items: center;
}
.upload {
    margin-left: 8px;
    padding: 0 3px;
}
.active-message-icon {
    color: black;
}
.more-menu {
    cursor: pointer;
    margin-left: 16px;
    cursor: pointer;
    padding: 4px 6px;
    font-size: 1.6rem;
    color: rgba(22, 24, 35, 1);
}
.more-menu-item {
    width: 224px;
}
.action-btn {
    position: relative;
    padding: 4px 12px;
    cursor: pointer;
    font-size: 2rem;
    background-color: transparent;
}
.img-user {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
    margin-left: 12px;
}

.badge {
    width: 23px;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    right: 5px;
    border-radius: 10px;
}
